body{
    background-color: darkolivegreen;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.wallpoet-regular {
  font-family: "Wallpoet", sans-serif;
  font-weight: 900;
  font-style: normal;
}


main{
 background-color: red;
 /* display:flex; */
 margin: 100px auto;
 width: 600px;
 height: 600px;
 padding: 20px;
 border-radius: 10px;
 box-shadow: 10px 45px 200px black;
}

main h1 span{
    color: #131;
}

form {
    display: flex;
    margin-top: 100px;
    /* flex-direction: column; */
    justify-content: space-evenly;
}

.form_columns{
    padding: 20px;
    width: 40%;
    background-color: yellow;

}

#generate{
    background-color: gray;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    margin: 20px;
}

.password_length_section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 10px;
}

.passwords{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.password_field{
    background-color: aqua;
    padding: 10px 50px;
    border-radius: 10px;
}